{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Welcome to About Page! </h1>
                <hr>
                <p> February 7, 2024 </p>
            </div>
        </div>
    </div>
{{end}}
